.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{href: "##{dom_id(@default_banner)}", data: { toggle: "tab"}} Default
    -if current_user
      -current_user.banners.each_with_index do |banner, index|
        %li
          %a{href: "##{dom_id(banner)}", data: { toggle: "tab"}}= "Banner ##{index + 1}"

  #banner.tab-content
    .tab-pane.active{id: dom_id(@default_banner)}
      = render "banners/templates/#{@default_banner.template}", @default_banner.banner_attributes_hash
    -if current_user
      -current_user.banners.each do |banner|
        .tab-pane{id: dom_id(banner)}
          = render "banners/templates/#{banner.template}", banner.banner_attributes_hash
          %div
            %a{href: banner_path(banner, format: 'zip')} Download zip
