= form_for(banner) do |form|
  = form.fields_for(:banner_attributes) do |banner_attributes|
    = banner_attributes.hidden_field :name
    = banner_attributes.hidden_field :value

  - if banner.new_record?
    = form.submit "Save to own collection", class: 'btn btn-primary'
  - else
    = form.submit "Save changes", class: 'btn btn-primary'
