- editable = banner.new_record?

.default-banner
  .box
  .img-container{width: width, height: height}
    %img{src: "http://placehold.it/#{width}x#{height}"}
  %div.message-container
    %span.message= message
    -if editable
      %i.edit-message.icon-edit.pull-right

  - if editable
    - if current_user
      = render 'banners/templates/default_form', banner: banner
    - else
      %h1 Sign in to save banners.
