.default-banner{
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 85px;
  border: 1px solid black;
  height: auto;
  .message-container{
    margin: 5px;
    .message{
      font-size: 200%;
      display: none;
    }

  }
  .box{
    position: absolute;
    background-color: red;
    top: 0;
    width: 20px;
    height: 20px;
  }
}