!!! html

%html(lang="en")
  %head
    %title BannerEditor
    %link{href: "default.css", media: "all", rel: "stylesheet", type: "text/css"}
    %script{type: 'text/javascript', src: 'default.js'}

  %body
    = yield
