!!! html

%html(lang="en")
  %head
    %title BannerEditor
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand(href="#") BannerEditor
          .pull-right
            %ul.nav
              - if current_user
                %li.text-right
                  %span.email= current_user.email
                  = link_to 'Sign Out', destroy_user_session_path, method: :delete
              - else
                %li= link_to 'Sign In', new_user_session_path
                %li= link_to 'Sign Up', new_user_registration_path

    .container

      .row
        .span9
          #main-content
            = yield

      %footer
        %p Test assignment. Igor Dobryn.

    = javascript_include_tag "application"
